<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include nav %>
	<br>
    <h3><%= method %>方式提交</h3>
  	<br>
  	<form method="post">
  		用户名：<input type="text" id="username" name="username"><br>
  		密　码：<input type="text" id="userpassword" name="userpassword"><br>
  		<input type="submit" value="提交">

  	</form>
  </body>
</html>
