<hr />
<footer>
	<p>
		<a href="http://www.huyangcheng.com/" target="_blank">huyangcheng</a>
		2014
	</p>
</footer>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>
</body>
</html>